@import "_variables.less";

// Core variables and mixins
// @import "twbs/variables.less";
@import "twbs/mixins.less";

// Reset and dependencies
@import "twbs/normalize.less";
@import "twbs/print.less";
@import "twbs/glyphicons.less";

// Core CSS
@import "twbs/scaffolding.less";
@import "twbs/type.less";
//@import "twbs/code.less";
//@import "twbs/grid.less";
//@import "twbs/tables.less";
//@import "twbs/forms.less";
//@import "twbs/buttons.less";

// Components
//@import "twbs/component-animations.less";
// @import "twbs/dropdowns.less";
// @import "twbs/button-groups.less";
// @import "twbs/input-groups.less";
//@import "twbs/navs.less";
//@import "twbs/navbar.less";
// @import "twbs/breadcrumbs.less";
// @import "twbs/pagination.less";
// @import "twbs/pager.less";
//@import "twbs/labels.less";
// @import "twbs/badges.less";
// @import "twbs/jumbotron.less";
// @import "twbs/thumbnails.less";
// @import "twbs/alerts.less";
// @import "twbs/progress-bars.less";
@import "twbs/media.less";
// @import "twbs/list-group.less";
// @import "twbs/panels.less";
// @import "twbs/responsive-embed.less";
// @import "twbs/wells.less";
// @import "twbs/close.less";

// // Components w/ JavaScript
// @import "twbs/modals.less";
// @import "twbs/tooltip.less";
// @import "twbs/popovers.less";
// @import "twbs/carousel.less";


// Utility classes
@import "twbs/utilities.less";
@import "twbs/responsive-utilities.less";

h1, h2, h3, h4, h5, h6 {
	.text-uppercase;
}

.title {
	font-weight: 700;
}

.page {
	text-align: center;
	&-main {
		background-position: fixed;
		background-repeat: no-repeat;
		padding-top: @padding-base-vertical;
		position: relative;

		&-top {
			width: 320px;
			margin: 0 auto;
			letter-spacing: 0.3em;
			color: @black
		}
		
		&-border {
			border: solid;
			border-top-width: @padding-base-horizontal * 2;
			border-bottom-width: @padding-base-horizontal * 2;
			// border-width: @padding-base-horizontal * 2;
			border-color: transparent @black @black @black;
		}
		
		&-mid {
			min-width: 320px;
			max-width: 768px;
			margin: 0 auto;
		}
	}
}

.list-item {
	display: inline-block;
	vertical-align: top;
	width: calc( ~"100% / 11" );
	text-align: center;
}
