doctype html
block vars
	- var bodyclass = "index";

html( lang='en' )
	head
		block head
			meta( charset='utf-8' )
			meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
			meta( name='viewport', content='width=device-width' )

			title
				block title
					= name

			link( href="https://fonts.googleapis.com/css?family=Rajdhani:300,700|Work+Sans", rel="stylesheet")
			link( rel='stylesheet', type='text/css', href='css/1056.css' )
			script( src='/js/trianglify.min.js' )

	body( class='page page-' + bodyclass )
		header( class='page-main page-main-' + bodyclass  )
			section.page-main-top
				h1.title the 1056
				img( src="img/1056.svg" )
				h2 the one thousand fifty six
			.page-main-border

		main.page-main-mid
			- var n = 30;
			ul.list-unstyled
				while n > 0
					li.list-item LR
						= n--
				li.list-item 
					span.glyphicon.glyphicon-refresh
					
		script.
				var elem = document.querySelector( '.page-main' );
				var pattern = Trianglify({
					width: window.innerWidth,
					height: elem.offsetHeight,
					cell_size: 105,
					variance: 1,
					color_space: 'rgb',
					x_colors: 'Spectral'

				});
				var m = new XMLSerializer().serializeToString( pattern.svg() );
				var k = window.btoa(m);

				elem.style.backgroundImage = 'url("data:image/svg+xml;base64,' + k + '")';

				var el = document.querySelector('.page-main-border');
				var width = el.offsetWidth / 2;
				el.setAttribute('style', 'border-left-width: ' + width + 'px; border-right-width: ' + width + 'px;' );

				window.addEventListener( 'resize', function(event) {
					el.setAttribute('style', 'border-left-width: ' + width + 'px; border-right-width: ' + width + 'px;' );
				});